<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="b2c:Tenant" value="billionoysterproject.onmicrosoft.com" />
    <add key="b2c:ClientId" value="b160de8e-bb49-4987-bb64-1a85e70c07eb" />
    <add key="b2c:ClientSecret" value="lOVyNfw.2V_N7~XKygI3.3m-tjXXh92T9_" />
  </appSettings>
</configuration>